h1{
    background-color: greenyellow;
    !important;
}
p{
            background-color: blue;
        }
        #p2{
            background-color: aqua;
        }
        .class1 p{
            background-color: aquamarine;
        }